:root {
  --primary-color: #f9f7fe;
  --branding-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --secondary-color: #272142;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  line-height: 2;
  padding: 160px 20px;
  margin: 0 auto;
}
h1 {
  font-size: 96px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: #000;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  font-family: var(--default-font);
}
.hero h2 {
  font-weight: 400;
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 36px;
  font-family: var(--default-font);
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 0;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  border-radius: 4px;
}
.btn-branding:hover {
  color: black;
  background-color: var(--branding-color);
}
.btn-projects {
  margin: 20px 10px;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  border: 1px solid var(--branding-color);
}
.btn-projects:hover {
  background-color: var(--branding-color);
}
.enquiry {
  background-color: var(--primary-color);
  padding: 20px 0 20px 100px;
  border-radius: 20px;
}
a {
  text-decoration: none;
}
@media (max-width: 576px) {
  div.col.img {
    display: none;
  }
  .project-info {
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
    margin-top: 0;
    padding: 0;
  }
  .hero {
    padding: 20px 10px;
  }
  .featured-projects {
    font-size: 12px;
  }
  .hero p {
    font-size: 24px;
  }
  .text-muted {
    font-size: 12px;
  }
}
.socials {
  margin-top: 20px;
}
