:root {
  --primary-color: #d5eeff;
  --navigation-color: #8ef6e4;
  --branding-color: #000;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --secondary-color: #22313f;
  --border-content: 6px solid var(--primary-color);
}
a.nav-link {
  margin-right: 50px;
}
.nav-link.active {
  font-weight: 500;
  color: var(--navigation-color) !important;
}
.navbar {
  padding: 10px 30px;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  line-height: 2;
  padding: 160px 20px;
  margin: 0 auto;
}
h1 {
  font-size: 96px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--branding-color);
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  font-family: var(--default-font);
}
.hero h2 {
  font-weight: 400;
  color: var(--secondary-color);
  font-size: 24px;
  line-height: 36px;
  font-family: var(--default-font);
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 0;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 3px 3px 3px var(--secondary-color);
}
.btn-branding:hover {
  color: black;
  background-color: var(--primary-color);
}
.btn-projects {
  margin: 20px 10px;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  box-shadow: 3px 3px 3px var(--secondary-color);
}
.btn-projects:hover {
  background-color: var(--branding-color);
  color: white;
}
.enquiry {
  background-color: var(--primary-color);
  padding: 20px 0 20px 100px;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
a:hover {
  color: #000;
}
.top-space {
  padding: 160px 20px;
}
.about-me {
  line-height: 30px;
}
.coder {
  font-size: 14px;
  line-height: 21px;
}
.project-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;

  color: #000;
}
.icons {
  font-size: 24px;
}
@media (max-width: 576px) {
  div.col.img {
    display: none;
  }
  .project-info,
  .top-space {
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 28px;
    margin-top: 0;
    padding: 0;
  }
  .hero,
  .top-space {
    padding: 20px 10px;
  }
  .featured-projects {
    font-size: 12px;
  }
  .hero p {
    font-size: 24px;
  }
  .text-muted {
    font-size: 12px;
  }
}
label {
  display: block;
}
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  color: #000;
}
.socials {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
}
.contact-socials {
  font-size: 40px;
}
