:root {
  --primary-color: #f9f7fe;
  --branding-color: #6c63ff;
}
body .hero {
  background-color: var(--primary-color);
  text-align: center;
  line-height: 20px;
  padding: 160px 20px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 96px;
}

.hero p {
  font-size: 36px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.branding a {
  background-color: var(--branding-color);
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}
